@model  Shameful_MVC.Views.Assignments.AssignmentViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Assignment Form";
}

<form enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" type="text" />
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.FormFile"></label>
        <input asp-for="@Model.FormFile" type="file" />
        @{
            if (!ViewContext.ViewData.ModelState.IsValid)
            {
                foreach(var error in @ViewContext.ViewData.ModelState[nameof(Model.FormFile)]?.Errors)
                { 
                    <span  class="text-danger">@error.ErrorMessage</span>
                }
            }
            else
            {
                <span asp-validation-for="@Model.FormFile" class="text-danger"></span>
            }
         }
    </div>
    <div class="form-group">
        <input asp-action="Add" class="btn btn-primary" type="submit" value="Upload" />
    </div>
    
</form>
<form>
    <div class="form-group">
        <input asp-action="Index" class="btn btn-primary" type="submit" value="Back" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
